.footer-address-text {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $minor-white-color;
  margin-bottom: 9px;
}
.footer-contacts-mail {
  display: block;
  margin-bottom: 9px;
}

.footer-mail-text,
.footer-tel-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $minor-white-color;
}
